
<h2>List of Sandwiches:</h2>
<ul>
  <% @allSandwiches.each do |the_sandwich| %>
    <li>
      <a href="<%= sandwich_path(the_sandwich) %>">
        <%= the_sandwich.name.capitalize %>
      </a>
    </li>
  <% end %>
</ul>



